.list-group {
    max-width: 900px;
    margin: 0 auto;
    background: transparent;
}

.list-group-item {
    margin: .5em 0;
    background-color: rgba(255, 255, 255, .15);   
    backdrop-filter: blur(5px);
    color: $light-color;

    .cart-icon-button {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
    }
}

.cart-image {
    height: 10rem;
    float: left;
    object-fit: cover;
}

.cart-details-container {
    text-align: start;
    margin-left: auto;
    line-height: .9;
}

.line-height {
    line-height: .4;
}

.cart-pricing-container {
    background: $light-color;
    padding: 1rem;
    color: #6d6d6d;
    border-radius: 5px;
    
    .order-info,
    .shipping-info,
    .total-info {
        @include flexCenter(row);
        justify-content: space-around;
    }
}

.welcome-container {
    @include flexCenter(row);
    margin-bottom: 1rem;
    padding: 1rem;
    color: $dark-color;
    border-radius: 5px;
    margin: 0 0 .5rem;
}

.cart-button-container {
    @include flexCenter(row);
    justify-content: space-around;
}
