.footer-container {
    padding: 1rem 0;
    width: 100%;
    background: $dark-color;
    position: absolute;
    bottom: 0;
    justify-content: space-around;
  
  .social-container {
    @include flexCenter(column);
    display: inline;
  }
}

.footer-list {
    list-style: none;
    @include flexCenter(row);
    padding: 0;

    li a {
      text-decoration: none;
      margin: 0 1rem;
      color: white;
      &:hover {
          color: $highlight-color;
      }
    }
}