$primary-color: #975454;
$secondary-color: #b5e0eb;
$third-color: #572e32;
$darkest-color: #1A1A1A;
$dark-color: #333333;
$light-color: #eeeeee;
$highlight-color: #47b7d3;

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin marginCenter {
    margin: 0 auto;
}

@mixin signInBtn {
    background: transparent;
    border: none;
    color: $light-color;
    &:hover {
        color: $light-color;
    }
}