@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height: 100vh;
  background-color: #1A1A1A;
  background-image: url("../images/Taieri.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Jaldi', sans-serif;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, .nav-link {
  font-family: 'Manjari', sans-serif;
}

.brand {
  color: #333333;
}

.brand:hover {
  color: #47b7d3;
}

.navbar {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#eeeeee), to(#eeeeee));
  background-image: linear-gradient(0deg, #eeeeee, #eeeeee);
  max-width: 100vw;
}

.navbar .disabled {
  border: none;
}

.navbar .active {
  border-bottom: 3px solid #47b7d3;
}

.navbar .nav-link {
  color: #eeeeee;
  text-align: center;
  font-family: 'Manjari', sans-serif;
  text-transform: uppercase;
  min-width: 7rem;
  font-size: .6em;
  font-weight: bold;
}

.navbar .nav-link:hover {
  background: #47b7d3;
  color: #333333;
}

.navbar #productDropdown,
.navbar #brandDropdown {
  color: #333333;
}

.navbar .brand-list-container {
  max-height: 400px;
  overflow-y: scroll;
}

.navbar .nav-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .inactive {
  border-bottom: none;
}

.navbar .signin-btn {
  background: transparent;
  border: none;
  color: #eeeeee;
}

.navbar .signin-btn:hover {
  color: #eeeeee;
}

#off-canvas {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#eeeeee));
  background-image: linear-gradient(#eeeeee, #eeeeee);
}

#off-canvas .legend {
  margin: 1rem 0 -.8rem 2rem;
  z-index: 10;
  color: #eeeeee;
  background: #1A1A1A;
  padding: .4em .5em;
  text-align: center;
  width: 35%;
  border-radius: 10px;
  font-size: .8em;
}

#off-canvas .disabled {
  border: none;
}

#off-canvas .list-border {
  border: 1px solid #1A1A1A;
  border-radius: 15px;
}

#off-canvas .active {
  border-bottom: unset;
  border-bottom: 3px solid #47b7d3;
}

#off-canvas .nav-link {
  font-size: .9em;
}

#off-canvas .nav-link:hover {
  background: #47b7d3;
}

#off-canvas .signin-btn {
  background: transparent;
  border: none;
  color: #eeeeee;
}

#off-canvas .signin-btn:hover {
  color: #eeeeee;
}

#off-canvas #brandDropdown {
  color: #333333;
}

#off-canvas .brand-title {
  width: 85%;
  margin: 0 auto;
}

#off-canvas .brand-list-container {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 50%;
  left: -10%;
  z-index: 10;
  border-radius: 10px;
  background: #333333;
  width: 120%;
}

.carousel {
  max-width: 600px;
  min-width: 200px;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.carousel-image {
  height: 110%;
  min-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.shipping-div {
  max-width: 100vw;
  height: 75px;
  background-color: #1A1A1A;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #eeeeee;
}

.jumbo-container {
  height: 500px;
  min-width: 200px;
  max-width: 900px;
  background-image: url("../images/jumbotron.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  margin: 0 auto;
}

.jumbo-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.jumbo-title {
  text-decoration: none;
  color: #333333;
  background: #b5e0eb;
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jumbo-title:hover {
  background: #47b7d3;
}

.jumbo-title .jumbo-subtitle {
  font-size: 2em;
  letter-spacing: .2em;
}

.jumbo-title .check-it-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: uppercase;
  font-size: .8em;
}

.bg-color {
  background: #1A1A1A;
  max-width: 100vw;
  padding: 2rem;
  margin: 0;
}

.bg-color .free-ship-subtitle {
  color: #b5e0eb;
  font-weight: bold;
  letter-spacing: .1em;
}

.spacer-div {
  height: 100px;
}

.free-ship-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 95%;
  max-height: 500px;
  background: #47b7d3;
  overflow-y: auto;
  margin: 2rem auto;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  position: relative;
}

.free-ship-container .free-ship-image {
  height: 100%;
  max-height: calc(500px - 6rem);
  margin: .5rem .25rem;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  opacity: .85;
}

.free-ship-container .visible {
  display: block;
  position: absolute;
  z-index: 20;
  top: 5%;
  margin-left: 1em;
  background: #333333;
  color: #47b7d3;
  font-weight: bold;
  padding: .5em;
  border-radius: 5px;
  width: 10rem;
  letter-spacing: .2em;
}

.free-ship-container .hidden {
  display: none;
}

.free-ship-container .hover-image {
  opacity: .95;
}

.category-title {
  color: #eeeeee;
  margin-top: 4rem;
  text-transform: capitalize;
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 500px;
}

.product-link {
  width: 20vw;
  min-width: 300px;
  font-size: .7em;
  background: #eeeeee;
  text-align: left;
  padding: 1em;
}

.product-image {
  height: 300px;
  width: 280px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-name {
  text-decoration: none;
  font-size: 1.2em;
}

.product-name:hover {
  color: #47b7d3;
}

.rating-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 60%;
}

.cart-icon-container {
  width: 100%;
  text-align: right;
}

.price-div {
  width: 100%;
}

.cart-icon:hover {
  color: #eeeeee;
}

.product-brand {
  margin-top: .5rem;
  letter-spacing: .4em;
  font-weight: bold;
  color: #333333;
  text-align: center;
}

.item-brand {
  color: #eeeeee;
  letter-spacing: .5em;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 1rem 0 1rem 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(#1A1A1A), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #1A1A1A, rgba(0, 0, 0, 0));
  width: 100%;
}

.product-carousel {
  height: auto;
  border: none;
}

.product-carousel-image {
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  border: none;
}

.color-div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid yellow;
}

.sign-in-form {
  max-width: 400px;
  min-width: 200px;
  background: #eeeeee;
  border-radius: 10px;
}

.signin-modal {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  width: 100%;
}

.sign-up-form {
  max-width: 400px;
  min-width: 200px;
  background: #eeeeee;
  border-radius: 10px;
}

.child-modal {
  position: absolute;
  top: calc(50% - 270px);
  left: calc(50% - 200px);
  width: 100%;
}

.error-message {
  color: #af1f1f;
  font-size: .8em;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=styles.css.map */