@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

$primary-color: #975454;
$secondary-color: #64111d;
$third-color: #572e32;
$darkest-color: #1A1A1A;
$dark-color: #333333;
$light-color: #eeeeee;
$highlight-color: #47b7d3;

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    background-image: linear-gradient(0deg, $darkest-color, $dark-color);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Manjari', sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'M PLUS 1 Code', sans-serif;
}

//Navbar 

.navbar {
    // background-image: linear-gradient(135deg, $third-color, $secondary-color);
    background-image: linear-gradient(0deg, $darkest-color,$darkest-color);
    max-width: 100vw;
}

.brand {
    color: $light-color;
}

.active {
    border-bottom: 3px solid $highlight-color;
}

.legend {
    margin: 1rem 0 -.7rem 2rem;
    z-index: 10;
    color: $third-color;
    background: $darkest-color;
    padding: .2em .5em;
    text-align: center;
    width: 35%;
    border-radius: 10px;
    font-size: .8em;
}

.list-border {
    border: 1px solid $darkest-color;
    border-radius: 15px;
}

.nav-link {
    color: $light-color;
    text-align: center;
    font-family: 'Manjari', sans-serif;
    text-transform: uppercase;
    min-width: 8rem;
    font-size: .6em;
    font-weight: bold;
}

.nav-link:hover {
    background: $dark-color;
}


#off-canvas {
    background-image: linear-gradient($highlight-color,$highlight-color);
}

#off-canvas .active {
    border-bottom: unset;
    border-bottom: 3px solid $darkest-color;
}

#off-canvas .nav-link:hover {
    background: $light-color;
}

//Main//

.carousel {
    max-width: 600px;
    min-width: 200px;
    height: 400px;
    object-fit: contain;
    margin: 0 auto;
}

.carousel-image {
    height: 110%;
    min-width: 100%;
    object-fit: contain;
}

.jumbotron {
    background: $primary-color;
}

.shipping-div {
    max-width: 900px;
    height: 75px;
    background-color: $highlight-color;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-color;
}


.main-jumbo {
    background-image:url('../images/jumbotron.png');
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 3px solid $primary-color;
    max-width: 900px;
    height: 300px;
    margin: 0 auto;
    background-position-y: center;
  }
