@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height: 100vh;
  background-color: #975454;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1A1A1A), to(#333333));
  background-image: linear-gradient(0deg, #1A1A1A, #333333);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Manjari', sans-serif;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'M PLUS 1 Code', sans-serif;
}

.navbar {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1A1A1A), to(#1A1A1A));
  background-image: linear-gradient(0deg, #1A1A1A, #1A1A1A);
  max-width: 100vw;
}

.brand {
  color: #eeeeee;
}

.active {
  border-bottom: 3px solid #47b7d3;
}

.legend {
  margin: 1rem 0 -.7rem 2rem;
  z-index: 10;
  color: #47b7d3;
  background: #1A1A1A;
  padding: .3em .5em;
  text-align: center;
  width: 35%;
  border-radius: 10px;
  font-size: .8em;
}

.list-border {
  border: 1px solid #1A1A1A;
  border-radius: 15px;
}

.nav-link {
  color: #eeeeee;
  text-align: center;
  font-family: 'Manjari', sans-serif;
  text-transform: uppercase;
  min-width: 8rem;
  font-size: .6em;
  font-weight: bold;
}

.nav-link:hover {
  background: #333333;
}

#off-canvas {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#47b7d3), to(#47b7d3));
  background-image: linear-gradient(#47b7d3, #47b7d3);
}

#off-canvas .active {
  border-bottom: unset;
  border-bottom: 3px solid #1A1A1A;
}

#off-canvas .nav-link:hover {
  background: #eeeeee;
}

.carousel {
  max-width: 600px;
  min-width: 200px;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.carousel-image {
  height: 110%;
  min-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.jumbotron {
  background: #975454;
}

.shipping-div {
  max-width: 900px;
  height: 75px;
  background-color: #47b7d3;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #eeeeee;
}

.main-jumbo {
  background-image: url("../images/jumbotron.png");
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 3px solid #975454;
  max-width: 900px;
  height: 300px;
  margin: 0 auto;
  background-position-y: center;
}

.category-title {
  color: #eeeeee;
  margin-top: 4rem;
  text-transform: capitalize;
}

.product-container {
  max-width: 80%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-link {
  width: calc(33% of 80%);
  font-size: .7em;
  background: #333333;
  text-align: left;
  padding: .5em;
  height: 450px;
}

.product-image {
  height: 300px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #47b7d3;
}

.product-name {
  max-width: 200px;
}
/*# sourceMappingURL=styles.css.map */