@import "./variables";
@import "./fonts";

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    background-image: linear-gradient(0deg, $darkest-color, $dark-color);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Jaldi', sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
}


h1, h2, h3, .nav-link {
    font-family: 'Manjari', sans-serif;
}

//Navbar 

.brand:hover {
    color: $highlight-color;
}

.navbar {
    background-image: linear-gradient(0deg, $darkest-color,$darkest-color);
    max-width: 100vw;
}

.brand {
    color: $light-color;
}

.navbar .active {
    border-bottom: 3px solid $highlight-color;
}

.signin-btn {
    background: transparent;
    border: none;
    &:hover {
        color: $light-color;
    }
}


.legend {
    margin: 1rem 0 -.8rem 2rem;
    z-index: 10;
    color: $light-color;
    background: $darkest-color;
    padding: .4em .5em;
    text-align: center;
    width: 35%;
    border-radius: 10px;
    font-size: .8em;
}

.list-border {
    border: 1px solid $darkest-color;
    border-radius: 15px;
}

.nav-link {
    color: $light-color;
    text-align: center;
    font-family: 'Manjari', sans-serif;
    text-transform: uppercase;
    min-width: 7rem;
    font-size: .6em;
    font-weight: bold;
}
.brand-list-container {
    max-height: 400px;
    overflow-y: scroll;
}

.nav-link:hover {
    background: $dark-color;
}

.nav-cart {
    @include flexCenter(row);
}

.inactive { 
    border-bottom: none;
}
#off-canvas {
    background-image: linear-gradient($dark-color,$dark-color);
}

#off-canvas .active {
    border-bottom: unset;
    border-bottom: 3px solid $highlight-color;
}

#off-canvas .nav-link {
    font-size: .9em;
}

#off-canvas .nav-link:hover {
    background: $darkest-color;
}

//Main//

.carousel {
    max-width: 600px;
    min-width: 200px;
    height: 400px;
    object-fit: contain;
    @include marginCenter;
}

.carousel-image {
    height: 110%;
    min-width: 100%;
    object-fit: contain;
}

.shipping-div {
    max-width: 900px;
    height: 75px;
    background-color: $third-color;
    margin: 1rem auto;
    @include flexCenter(column);
    color: $light-color;
}


.main-jumbo {
    background-image:url('../images/jumbotron.png');
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 3px solid $third-color;
    max-width: 900px;
    height: 300px;
    @include marginCenter;
    background-position-y: center;
  }

  //Categories

  .category-title {
      color: $light-color;
      margin-top: 4rem;
      text-transform: capitalize;
  }

  .item-container {
      @include flexCenter(column);
      min-height: 500px;
  }

  .product-link {
      width: 20vw;
      min-width: 300px;
      font-size: .7em;
      background: $light-color;
      text-align: left;
      padding: 1em;
  }

  .product-image {
      height: 300px;
      width: 280px;
      @include marginCenter;
      object-fit: cover;
  }

  .product-name {
    text-decoration: none;
    font-size: 1.2em;
  }

  .product-name:hover {
      color: $highlight-color;
  }

  .rating-div {
      display: flex;
      flex-direction: row;
      align-self: flex-start;
      width: 60%;
  }

  .cart-icon-container {
      width: 100%;
      text-align: right;
  }

  .price-div {
      width: 100%;
  }

  .cart-icon:hover {
      color: $light-color;
  }

  .product-brand {
      margin-top: .5rem;
      letter-spacing: .4em;
      font-weight: bold;
      color: $dark-color;
      text-align: center;
  }

//Product Component

  .item-brand {
      color: $light-color;
      letter-spacing: .5em;
      text-transform: uppercase;
      margin-bottom: 2rem;
      padding: 1rem 0 1rem 0;
      background-image: linear-gradient(90deg, rgba(0,0,0,0), $darkest-color, rgba(0,0,0,0));
      width: 100%;

  }
  .product-carousel {
      height: auto;
      border: none;
  }

  .product-carousel-image {
      object-fit: contain;
      height: auto;
      border: none;
  }

  .color-div {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 1px solid yellow;
  }

  //Sign in modal

  .sign-in-form {
      background: $light-color;
      width: 300px;
      height: 300px;
  }

  .signin-modal {
      position: absolute;
      top: calc(50% - 150px);
      right: calc(50% - 150px);
  }