$primary-color: #e25160;
$secondary-color: #8B2030;
$darkest-color: #1A1A1A;
$dark-color: #333333;
$light-color: #eeeeee;
$highlight-color: #EDA909;

.app {
    margin: 0;
    padding: 0;
    background-color: $dark-color;
    max-width: 100vw;
    height: 100vh;
    background: $dark-color;
    background-size: cover;
    position: static;
    font-family: 'Jura', sans-serif;
    text-align: center;
}

//Navbar 

.nav-item {
    font-weight: 700;
}

.drawer {
    height: 100vh;
    width: 50vw;
    background: $secondary-color;
    color: $light-color;
}

.navbar {
    background: $secondary-color;
}

.drawer-item:hover {
    background: $primary-color;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    color: $darkest-color;
}

.button-item {
    color: $light-color;
    font-family: 'Jura', sans-serif;
    font-weight: 500;
    height: 50px;
    align-items: center;
    font-size: .8em;
}

.button-item:hover {
    color: $darkest-color;
}

.subtitle {
    text-decoration: underline;
    letter-spacing: .2em;
    text-align: center;
    color: $dark-color;
}

.brand {
    color: $light-color;
}

//Main//
